.card{
    background: rgb(148,0,211);
    background: linear-gradient(90deg, rgba(148,0,211,1) 0%, rgba(255,0,255,1) 100%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 2vw;
    border-radius: 5px;
    margin: 2vw 0;
}
.firstBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.emailContainer{
  color: #ffffff;
  font-size: 1.2vw;
  font-weight: 900;
  padding: 0;
  margin-left: 4vw;
  font-family: 'avenir';
}
@font-face {
    font-family: "avenir";
  
    src: url("/fonts/avenir.woff") format("woff"), /* Modern Browsers */
      url("/fonts/avenir.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "avenir-light";
    src: url("/fonts/avenir-light.woff") format("woff"), /* Modern Browsers */
      url("/fonts/avenir-light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

.index{
    color: #ffffff;
    font-size: 2vw;
    font-weight: 900;
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    font-family: 'avenir';
    font-style: italic;
}
.initialsContainer{
    height: 7vw;
    width: 7vw;
    color: white;
    margin: 0 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7vw;
    font-weight: 700;
    border-radius: 50pt;
    border: 0.3vw solid white;
}
.nameContainer{
    color: #ffffff;
    font-size: 1.8vw;
    font-weight: 900;
    padding: 0;
    margin: 0;
    font-family: 'avenir';
}
.secondBox{
    color: #ffffff;
    font-size: 2.5vw;
    font-weight: 900;
    padding: 0;
    margin: 0;
    padding-right: 2vw;
    font-family: 'avenir';
}
@media (max-width: 600px) {
  .emailContainer{
    color: #ffffff;
    font-size: 2.9vw;
    font-weight: 900;
    padding: 0;
    margin-left: -0.5vw;
    font-family: 'avenir-light';
  }
  .index{
      color: #ffffff;
      font-size: 3.5vw;
      font-weight: 900;
      padding: 0;
      margin: 0;
      position: relative;
      box-sizing: border-box;
      font-family: 'avenir';
      font-style: italic;
  }
  .initialsContainer{
      height: 10vw;
      width: 10vw;
      color: white;
      margin: 0 3vw;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3.5vw;
      font-weight: 700;
      border-radius: 50pt;
      border: 0.3vw solid white;
  }
  .nameContainer{
      color: #ffffff;
      font-size: 3.5vw;
      font-weight: 900;
      padding: 0;
      margin: 0;
      font-family: 'avenir';
  }
  .secondBox{
      color: #ffffff;
      font-size: 3.5vw;
      font-weight: 900;
      padding: 0;
      margin: 0;
      padding-right: 2vw;
      font-family: 'avenir';
  }
  .spanEmailName{
    display: block;

  }
}