.img{
    border-radius: 0.5vw;
    width: 28vw;
    height: 60vh;
}
@font-face {
    font-family: "avenir";
  
    src: url("/fonts/avenir.woff") format("woff"), /* Modern Browsers */
      url("/fonts/avenir.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "avenir-light";
    src: url("/fonts/avenir-light.woff") format("woff"), /* Modern Browsers */
      url("/fonts/avenir-light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
.title{
    text-align: center;
    color: #d8d8d8;
    font-size: 1.2vw;
    padding: 0;
    margin: 0;
    line-height: 4vw;
    position: relative;
    box-sizing: border-box;
    font-family: 'avenir';
}
.sameLineEvent{
    display: flex;
    width: 100%;
    margin-top: 1vw;
    justify-content: space-between;
}

.textContent{
    width: 28vw;
}

