.imgContainerDashboard{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 5vw;
  position: absolute;
  z-index: 4;
}
@font-face {
  font-family: "avenir";

  src: url("/fonts/avenir.woff") format("woff"), /* Modern Browsers */
    url("/fonts/avenir.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avenir-light";

  src: url("/fonts/avenir-light.woff") format("woff"), /* Modern Browsers */
    url("/fonts/avenir-light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
.gradientUL{
  text-align:center;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(0.25turn, #effcff, #3a7bd5, #effcff);
    border-image-slice: 1;
}
.h1{
  text-align: center;
  color: white;
  font-size: 2.5vw;
  font-weight: 900;
  padding: 0;
  margin: 0;
  line-height: 4vw;
  margin-top: 2vw;
  position: relative;
  box-sizing: border-box;
  font-family: 'avenir';
}

.bendingImgBackTint{
  background-color: rgba(89,0,89,0.6);
  position: absolute;
  z-index:2;
  width: 100%;
  height: 100vh;
}

.imgDashboard{
position: absolute;
z-index: 1;
width: 100%;
height: 100vh;
}
.modalPlayMinecraft{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.modalPcContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vw;

}
.modalMobileContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vw;
}
.titlePCMobileDialog{
  color: black;
  font-size: 1.3vw;
  padding: 0;
  margin: 0;
  line-height: 4vw;
  margin-top: 2vw;
  position: relative;
  box-sizing: border-box;
  font-family: 'avenir';
}
.logo{
  height: 9vh;
}
.imgShadow{
  -webkit-box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.75);
width:35vw;
border-radius:5px;
}
.contentCodeContainer{
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.code{
  font-size: 2vw;
  font-family: 'avenir';
  background: -webkit-linear-gradient(326deg, white 0%, white 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.heading{
  font-size: 1vw;
  font-family: 'avenir';
  display: flex;
  margin-top: 3vh;
  justify-content: center;
  align-items: center;
}
.pTag{
  color:white;
  text-align:center;
   font-size:1vw;
}
.buttonBlue{
  background:#8A2BE2 ;
    font-size:0.9vw ;
    padding:0.7vw 4vw ;
    margin-top:2vw;
}
.info_mcWhitelist{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 3vh 2vw;
  text-align: center;
  font-size: 1vw;
}
.main{
  display:flex;

  justify-content:center;
  align-items:center;

  width:100%;
    height:100vh;

}
.tabs{
  outline: none;
  color: white;
  font-size: 1.2vw;
  text-transform: none;
  font-family: 'avenir';
}
.loadingContainer{
  width: 100%;
  display: flex;
  height:40vh ;
  width: 30vw;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (max-width: 600px) {
  .imgContainerDashboard{
    display: flex;
    justify-content: center;
    height: 40vh;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 5vw;
    position: absolute;
    z-index: 4;
  }
  .tabs{
    outline: none;
    color: white;
    font-size: 3.5vw;
    text-transform: none;
    font-family: 'avenir';
  }
  .h1{
    text-align: center;
    color: white;
    font-size: 4vw;
    font-weight: 900;
    padding: 0;
    margin: 0;
    line-height: 8vw;
    margin-top: 2vw;
    position: relative;
    box-sizing: border-box;
    font-family: 'avenir';
  }
  .bendingImgBackTint{
    background-color: rgba(89,0,89,0.6);
    position: absolute;
    z-index:2;
    width: 100%;
    height: 40vh;
  }
  .imgDashboard{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 40vh;
  }
  .titlePCMobileDialog{
    color: black;
    font-size: 4vw;
    padding: 0;
    margin: 0;
    line-height: 8vw;
    margin-top: 2vw;
    position: relative;
    box-sizing: border-box;
    font-family: 'avenir';
  }
  .logo{
    height: 9vh;
  }
  .code{
    font-size: 6vw;
    font-family: 'avenir';
    background: -webkit-linear-gradient(326deg, white 0%, white 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  .heading{
    font-size: 4.5vw;
    font-family: 'avenir';
    display: flex;
    margin-top: 3vh;
    justify-content: center;
    align-items: center;
  }
  .pTag{
    color:white;
    text-align:center;
     font-size:3.5vw;
  }
  .buttonBlue{
      background:#8A2BE2 ;
        font-size:4.5vw ;
        padding:2vw 9vw ;
        margin-top:4vw;
    }
    .main{
      display:flex;
      padding-top: 30vh;
      justify-content:center;
      align-items:center;
      margin-bottom: 20vh;

      width:100%;
        height:40vh;

    }
    .imgShadow{
      -webkit-box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 32px -8px rgba(0,0,0,0.75);
    width:70vw;
    border-radius:5px;
    }
    .info_mcWhitelist{
      color: white;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin: 3vh 2vw;
      text-align: center;
      font-size: 3vw;
    }
}